@use "./mixins" as *;

@include font-face("Inter", "Inter-Regular", normal);
@include font-face("Inter", "Inter-Medium", 500);
@include font-face("Inter", "Inter-Bold", 700);
@include font-face("Inter", "Inter-SemiBold", 600);
